<div>
  <div class="thumbnail-container" ng-click="loadVideo()" ng-show="!showVideo">
    hi
    <i class="fa fa-play-circle-o" aria-hidden="true"></i>
  </div>
  <div>
    <video class="hls-fallback" controls height="270" width="480" ng-if="useHlsFallback" ng-show="showHlsFallback"></video>
    <video class="native-video" controls height="270" width="480" ng-if="useNativeVideo" ng-show="showNativeVideo">
      <source src="{{::safeStreamingSrc}}">
      <!-- <source src="{{::safeFallbackSrc}}"> -->
    </video>
  </div>
</div>
