<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Video Test</title>
    <script src="angular/angular.js"></script>
    <script src="app.js"></script>
    <script src="directives/ResponsiveVideoDirective/ResponsiveVideoDirective.js"></script>
    <script src="hls.js/dist/hls.js"></script>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.css">
  </head>
  <body ng-app="video-test">
    <responsive-video fallback-src="http://download.blender.org/peach/bigbuckbunny_movies/big_buck_bunny_480p_stereo.ogg" streaming-src="https://dwrhge49euext.cloudfront.net/big_buck_bunny_720p_stereo/hls_big_buck_bunny_720p_stereo.m3u8"></responsive-video>
  </body>
</html>
